In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib
# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-12-18 05:55:41,-20.3428,57.7575,83.21,69,40,11.50
1,1,Rognan,NO,2021-12-18 05:55:42,67.0953,15.3878,43.88,89,100,18.95
2,2,Paamiut,GL,2021-12-18 05:55:42,61.9940,-49.6678,11.97,73,0,7.58
3,3,Viedma,AR,2021-12-18 05:55:42,-40.8135,-62.9967,71.38,59,71,13.96
4,4,Maldonado,UY,2021-12-18 05:55:43,-34.6667,-54.9167,61.99,94,1,5.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# General syntax for creating a heatmap...

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
# fig

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.8)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
# min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# max_temp = float(input("What is the maximum temperature you would like for your trip? "))
min_temp = 75
max_temp = 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bambous Virieux,MU,2021-12-18 05:55:41,-20.3428,57.7575,83.21,69,40,11.50
7,7,Waingapu,ID,2021-12-18 05:55:43,-9.6567,120.2641,88.47,69,58,8.84
9,9,Oranjestad,AW,2021-12-18 05:55:44,12.5240,-70.0270,78.91,84,76,4.00
15,15,Porto Novo,BJ,2021-12-18 05:55:45,6.4965,2.6036,76.82,81,78,3.87
21,21,Saint-Philippe,RE,2021-12-18 05:55:47,-21.3585,55.7679,85.48,71,3,1.21
31,31,Esperance,AU,2021-12-18 05:55:50,-33.8667,121.9000,82.24,53,76,29.08
34,34,Georgetown,MY,2021-12-18 05:55:03,5.4112,100.3354,82.33,83,40,1.01
36,36,Rikitea,PF,2021-12-18 05:55:52,-23.1203,-134.9692,75.42,80,78,16.75
43,43,Toamasina,MG,2021-12-18 05:55:54,-18.1667,49.3833,82.40,78,20,6.91
53,53,Labuhan,ID,2021-12-18 05:56:57,-6.8844,112.2051,87.04,66,97,5.08

In [14]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Bambous Virieux      MU     83.21 -20.3428   57.7575
7          Waingapu      ID     88.47  -9.6567  120.2641
9        Oranjestad      AW     78.91  12.5240  -70.0270
15       Porto Novo      BJ     76.82   6.4965    2.6036
21   Saint-Philippe      RE     85.48 -21.3585   55.7679
31        Esperance      AU     82.24 -33.8667  121.9000
34       Georgetown      MY     82.33   5.4112  100.3354
36          Rikitea      PF     75.42 -23.1203 -134.9692
43        Toamasina      MG     82.40 -18.1667   49.3833
53          Labuhan      ID     87.04  -6.8844  112.2051

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bambous Virieux,MU,83.21,-20.3428,57.7575,Casa Tia Villa
7,Waingapu,ID,88.47,-9.6567,120.2641,Pondok Wisata Elim
9,Oranjestad,AW,78.91,12.5240,-70.0270,Divi Village Golf & Beach Resort
15,Porto Novo,BJ,76.82,6.4965,2.6036,Tour Eiffel Hotel Benin
21,Saint-Philippe,RE,85.48,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))