## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City,City Name,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Touros,BR,79.70,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
1,1,Katobu,ID,87.31,broken clouds,-4.9408,122.5276,La Ode Husein
2,2,San Nicolas,PH,79.95,overcast clouds,18.1725,120.5953,NORTHVIEW Hotel
3,12,Rikitea,PF,77.50,light rain,-23.1203,-134.9692,People ThankYou
4,13,Yarada,IN,79.12,haze,17.6500,83.2667,Yarada Jungle Beach Resorts

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df.get("City Name")

0           Touros
1           Katobu
2      San Nicolas
3          Rikitea
4           Yarada
          ...
169      Nha Trang
170       Vavuniya
171          Cukai
172       El Vigia
173    Pundaguitan
Name: City Name, Length: 174, dtype: object

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City Name"] == "Alugan"]
vacation_end = vacation_df.loc[vacation_df["City Name"] == "Alugan"]
vacation_stop1 = vacation_df.loc[vacation_df["City Name"] == "Sulangan"]
vacation_stop2 = vacation_df.loc[vacation_df["City Name"] == "Dingle"] 
vacation_stop3 = vacation_df.loc[vacation_df["City Name"] == "Pandan"] 
vacation_end

,City,City Name,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
20,80,Alugan,PH,81.77,overcast clouds,12.2188,125.4808,JM Lodge

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
stop1

(11.1373, 123.7228)

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints = [stop1, stop2, stop3])
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City,City Name,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,80,Alugan,PH,81.77,overcast clouds,12.2188,125.4808,JM Lodge
1,149,Sulangan,PH,82.24,overcast clouds,11.1373,123.7228,Maia's Beach Resort
2,382,Dingle,PH,86.14,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
3,577,Pandan,PH,81.50,overcast clouds,14.0453,124.1694,Bonifacio Lodge

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, stop1)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(vacation_itinerary)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))